extends layout

block content
  h3 Welcome
  form#login(method="post")
    input(type="text", placeholder="username", name="email")
    input(type="password", placeholder="Password", name="password")
    button#btnSubmit(type="submit") Sign in