<div>
  <p>Search for a compatible Identity Provider and register a new Identity.</p>
</div>
<hr>


<form name="search" onsubmit="return searchIdpProxy(this);">
  <div class="form-group">
    <label>OpenID Provider</label>
    <input type="text" class="form-control" name="idp">
  </div>
  <button type="submit" class="btn btn-warning btn-lg">Search</button>
</form>

<div *ngIf="oidcConfiguration">
  <span>{{oidcConfiguration.iss}}</span>
  <span>{{oidcConfiguration.sub}}</span>
  <span>{{oidcConfiguration.proxy.type}}</span>
</div>
<hr>

<div class="row">
  <button (click)="goBack()">Back</button>
</div>
